{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<style>
    .banner-area {
        padding-top: 220px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        background-image: linear-gradient(rgba(2, 26, 46, 0.6), rgba(2, 25, 44, 0.6)),
            url({% static 'assets/upload/pagesImage/0JylxLtLxARK9noycaNJQtLfVF3W8Y.avif' %});
        background-size: cover;
        background-position: 100% 75%;
    }
</style>

<div class="banner-area">
    <div class="container">
        <div class="row ">
            <div class="col">
                <div class="breadcrumb-area">
                    <h3>
                                                        FAQ                                                    </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa-light fa-house"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                                                                Contact                                                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="main header-upper header-fixed">
    <section class="faq-section">
<div class="container">
<div class="row align-items-center">
    <div class="col-md-6">
        <div class="faq-thum">
            <img src="assets/upload/contents/4fBZKWPWGydBn2FdHNxGz5umCrTA13.webp" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="faq-content">
            <div class="section-subtitle">F.A.Q</div>
            <h2>Still, Have Questions?</h2>
            <p class="cmn-para-text mx-auto">Waiz is a comprehensive digital platform offering international money transfers, digital wallet integration, and virtual card support.</p>
            <div class="accordion" id="accordionParent">
                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question0">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse0" aria-expanded="true"
                                aria-controls="collapse0">
                            How does the money transfer service work?                                </button>
                    </h2>
                    <div id="collapse0" class="accordion-collapse collapse"
                         aria-labelledby="question0"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>Our money transfer service allows you to send and receive funds securely
and conveniently. You can initiate a transfer by selecting the
recipient, specifying the amount, and choosing the payment method. Once
the transfer is confirmed, the funds will be sent to the recipient's
account.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse1" aria-expanded="true"
                                aria-controls="collapse1">
                            How long does it take for a money transfer to be processed?                                </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse"
                         aria-labelledby="question1"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>The processing time for money transfers can vary based on the payment method and the recipient's location. In most cases, transfers are completed within a few business days.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="true"
                                aria-controls="collapse2">
                            Can I track the status of my money transfer?                                </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse"
                         aria-labelledby="question2"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>Yes, you can track the status of your money transfer through your account dashboard. We also provide email notifications for important updates during the transfer process.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="true"
                                aria-controls="collapse3">
                            Is my personal and financial information safe on your website?                                </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse"
                         aria-labelledby="question3"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>Yes, we take the security of your personal and financial information seriously. Our website employs robust encryption protocols and follows industry best practices to safeguard your data from unauthorized access or misuse.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="true"
                                aria-controls="collapse4">
                            What payment methods do you support for money transfers?                                </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse"
                         aria-labelledby="question4"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>We support various payment methods, including credit/debit cards and bank transfers. The available options will be displayed during the transfer process.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                        <div class="accordion-item">
                    <h2 class="accordion-header" id="question5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="true"
                                aria-controls="collapse5">
                            Are there any fees associated with sending or receiving money?                                </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse"
                         aria-labelledby="question5"
                         data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <div class="table-responsive">
                                <p>Yes, there might be fees associated with money transfers. The applicable fees will be displayed before you confirm the transaction.</p>
                            </div>
                        </div>
                    </div>
                </div>

                                    </div>
        </div>

    </div>
</div>
</div>
</section>


            
            
            <section class="footer-section pb-50">
<div class="container">
<div class="row gy-4 gy-sm-5">
    <div class="col-lg-4 col-sm-6">
        <div class="footer-widget">
            <div class="widget-logo mb-30">
                <a href="#"><img class="logo" src="assets/upload/contents/SH7tu2fgGx3DwkuyXlWwu3cJ3DykN6.webp" alt=""></a>
            </div>
            <p>Waiz is dedicated to providing seamless digital banking solutions, including international money transfers, digital wallets, and virtual cards. Our goal is to simplify financial transactions with advanced technology and excellent customer support.</p>
            <div class="social-area mt-50">
                <ul class="d-flex">
                                                    <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="https://x.com/"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="https://linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                                                    <li><a href="https://instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                            </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
            <h5 class="widget-title">Quick Links</h5>
            <ul>
                                                                            <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="index.html">Home</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="about.html">About</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="blogs.html">blogs</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="faq.html">Faq</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="contact.html">Contact</a></li>
                                                                </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 pt-sm-0 pt-3 ps-lg-5">
        <div class="footer-widget">
            <h5 class="widget-title">Support links</h5>
            <ul>
                                                                            <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="terms-conditions.html">Terms Conditions</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="privacy-policy.html">Privacy Policy</a></li>
                                                    <li><i class="bi bi-chevron-right"></i><a class="widget-link" href="cookie-policy.html">Cookie Policy</a></li>
                                                                </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 pt-sm-0 pt-3">
        <div class="footer-widget">
            <h5 class="widget-title">Contact Us</h5>
            <p class="contact-item"><i class="fa-regular fa-location-dot"></i>
                49 Spruce RoadJamestown, NY 14701                    </p>
            <p class="contact-item"><i class="fa-regular fa-envelope"></i> support@example.com</p>
            <p class="contact-item"><i class="fa-regular fa-phone"></i> +185484655</p>
        </div>
    </div>
</div>
<hr class="cmn-hr">
<!-- Copyright-area-start -->
<div class="copyright-area">
    <div class="row gy-4">
        <div class="col-sm-6">
            <p>All rights reserved &copy; 2024 by<a class="highlight" href="index.html"></a> </p>
        </div>
        <div class="col-sm-6">
            <div class="language">
                                            <a href="faq.html" class="active-language base-success">
                        <span class="flag-icon flag-icon-en"></span>
                        English                            </a>
                                            <a href="faq.html" class="">
                        <span class="flag-icon flag-icon-es"></span>
                        Spanish                            </a>
                                    </div>
        </div>
    </div>
</div>
<!-- Copyright-area-end -->
</div>
</section>


            
            
            
</main>

{% endblock %}