{% load static %}
<!DOCTYPE html>
<html lang="en"  >
<head data-notfoundlight="https://waiz.bugfinder.net/assets/global/img/not_found_light.svg"
      data-notfounddark="https://waiz.bugfinder.net/assets/global/img/not_found_dark.svg">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://waiz.bugfinder.net/assets/upload/logo/A0QhZokdpliGoja89gSVc9rXHDFomR.webp' %}" rel="icon">

    <title>B_assets</title>

    <meta name="csrf-token" content="TC391ydErYvw3b4jq2YTl9boSzsc5uMHCHPc1MOz">

    <link href="{% static 'assets/upload/logo/A0QhZokdpliGoja89gSVc9rXHDFomR.webp' %}" rel="icon">

    <link rel="stylesheet" href="{% static 'assets/themes/light/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/flatpickr.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/themes/light/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/themes/light/css/dashboard.css' %}">

    
</head>
<style>
    .box-card {
        background-image: url({% static 'img/card.png' %});
    }
    .footer {
            text-align: center;
            margin-top: 50px;
            font-size: 14px;
            color: #aaa;
        }
</style>
<body onload="preloader_function()" class="">



<!-- Nav section start -->
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="/">
            <img src="{% static 'assets/upload/logo/4HVH3JeDRlGdQ44yFFnrL7hvfkMBIE.webp' %}" alt=""/>
        </a>
        <button class="navbar-toggler d-none d-lg-block" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class="fa-light fa-list"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbar">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="https://waiz.bugfinder.net">
                    <img src="{% static 'assets/upload/logo/4HVH3JeDRlGdQ44yFFnrL7hvfkMBIE.webp' %}" alt=""/>
                </a>
                <button type="button" class="cmn-btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-light fa-arrow-right"></i></button>
            </div>

            <div class="offcanvas-body align-items-center justify-content-between">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user">
                            <i class="fa-regular fa-grid-2"></i>Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link "
                           href="/transfer"><i class="fa-solid fa-comments-dollar"></i>Send Money</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link "
                           href="assets"><i class="fa-light fa-money-bill-alt"></i><span>Buy Assets</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  "
                           href="https://waiz.bugfinder.net/user/virtual-card"><i class="fa-solid fa-building"></i><span>Shares</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-house"></i>
                           Real Estate                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item " href="/housepurchase">Buy</a></li>
                            <li><a class="dropdown-item " href="/houserent">Rent</a></li>
                            <li><a class="dropdown-item " href="/properties">My properties</a></li>
                             </ul>
                    </li>





                    <li class="nav-item">
                        <a class="nav-link "
                           href="/deposit"><i class="fa-regular fa-wallet"></i>Deposit</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-timer"></i>
                            history                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item " href="https://waiz.bugfinder.net/user/all-transaction-list">Transaction History</a></li>
                            <li><a class="dropdown-item " href="/deposithis">Deposit History</a></li>
                            <li><a class="dropdown-item " href="/transf_his">Transfer History</a></li>
                            <li><a class="dropdown-item " href="/withdrawhis">Request History</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle "
                           href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-grid-2-plus"></i>
                            More                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="https://waiz.bugfinder.net/user/settings">
                                    <i class="fa-light fa-gear"></i>Settings</a>
                            </li>
                            <li><a class="dropdown-item " href="https://waiz.bugfinder.net/user/ticket">
                                    <i class="fa-brands fa-rocketchat"></i>
                                    Support Ticket                                </a>
                            </li>
                            <li><a class="dropdown-item "
                                   href="https://waiz.bugfinder.net/user/earn">
                                    <i class="fa-regular fa-gift"></i>Refer & Earn                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-right ">
            <ul class="custom-nav header-nav">
                <li>
                    <a id="toggle-btn" class="nav-link d-flex toggle-btn">
                        <i class="fa-light fa-moon" id="moon"></i>
                        <i class="fa-light fa-sun-bright" id="sun"></i>
                    </a>
                </li>

                <li class="nav-item dropdown" id="pushNotificationArea">
                    <a class="nav-link nav-icon mt-2" href="#" data-bs-toggle="dropdown">
                        <i class="fa-light fa-bell"></i>
                        <span class="badge badge-number" v-cloak>{{items.length}}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <div class="dropdown-header">
                            <h6> You have <span
                                    v-cloak>{{items.length}}</span> new notifications</h6>
                        </div>
                        <div class="dropdown-body">
                            <div class="notification-item" v-for="(item, index) in items"
                                 @click.prevent="readAt(item.id, item.description.link)">
                                <a href="javascript:void(0)">
                                    <i class="fa-light fa-bell text-warning"></i>
                                    <div>
                                        <p class="text-highlight-dark" v-cloak v-html="item.description.text"></p>
                                        <p v-cloak>{{ item.formatted_date }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown-footer">
                            <a class="btn-view_notification" href="javascript:void(0)"
                               v-if="items.length == 0">You have no notifications</a>
                            <a class="btn-clear" href="javascript:void(0)" v-if="items.length > 0"
                               @click.prevent="readAll">Clear all notification</a>
                        </div>
                    </div>
                </li><!-- End Notification Nav -->



                <li class="nav-item dropdown">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'assets/upload/userProfile/p6OyJX5MfLiWlOJO7tCjQfrpIJwNMt.webp' %}" alt="Profile" class="rounded-circle">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header d-flex justify-content-center text-start">
                            <div class="profile-thum">
                                <img src="{% static 'assets/upload/userProfile/p6OyJX5MfLiWlOJO7tCjQfrpIJwNMt.webp' %}" alt="">
                            </div>
                            <div class="profile-content">
                                <h6>{{user.username}}</h6>
                                @<span>{{user.username}}{{user.id}}</span>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/user">
                                <i class="fa-light fa-house"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profilepage">
                                <i class="fa-light fa-gear"></i>
                                <span>Profile Settings</span>
                            </a>
                        </li>

                                                    <li>
                                <a class="dropdown-item d-flex align-items-center" href="https://waiz.bugfinder.net/logout"
                                   onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i
                                        class="fal fa-sign-out-alt"></i>Sign Out</a>
                                <form id="logout-form" action="https://waiz.bugfinder.net/logout" method="POST" class="d-none">
                                    <input type="hidden" name="_token" value="TC391ydErYvw3b4jq2YTl9boSzsc5uMHCHPc1MOz" autocomplete="off">                                </form>
                            </li>
                                            </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Nav section end -->

<!-- Bottom Mobile Tab nav section start -->

<ul class="nav bottom-nav fixed-bottom d-lg-none" style="height: 10vh;">
    <li class="nav-item">
        <a onclick="toggleSideMenu()" class="nav-link toggle-sidebar" aria-current="page">
            <i class="fa-light fa-list"></i></a>More</li>

    <li class="nav-item">
        <a class="nav-link " href="/deposit" title="Deposit"><i class="fa-regular fa-wallet"></i></a>Deposit</li>

    <li class="nav-item">
        <a class="nav-link active" href="/user" title="Dashboard">
            <i class="fa-light fa-house"></i></a>Home</li>

    <li class="nav-item">
        <a class="nav-link "
           href="/withdraw" title="Money Transfer">
           <i class="fa-light fa-money-bill-alt"></i></a>Withdraw</li>

    <li class="nav-item">
        <a class="nav-link " href="/profilepage" title="Profile">
            <i class="fa-light fa-user"></i></a>Profile
    </li>
</ul>


<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="/user">
                <i class="fal fa-grid"></i>Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link "
               href="/transfer"><i class="fa-solid fa-comments-dollar"></i>Send Money</a>
        </li>

        <li class="nav-item">
            <a class="nav-link "
               href="assets"><i class="fa-light fa-money-bill-alt"></i><span>Buy Assets</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link  "
               href="https://waiz.bugfinder.net/user/virtual-card"><i class="fa-solid fa-building"></i><span>Shares</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed  "
               data-bs-target="#crme" data-bs-toggle="collapse" href="#">
               <i class="fa-solid fa-house"></i><span>Real Estate</span>
                <i class="fa-regular fa-angle-down ms-auto bi-chevron-down"></i>
            </a>
            <ul id="crme" data-bs-parent="#sidebar-nav" class="nav-content collapse
                " >
                <li>
                    <a href="/housepurchase" class="">
                        <i class="fa-regular fa-circle"></i><span>Buy</span>
                    </a>
                </li>
                <li>
                    <a href="/houserent" class="">
                        <i class="fa-regular fa-circle"></i><span>Rent</span>
                    </a>
                </li>

                <li>
                    <a href="/properties" class="">
                        <i class="fa-regular fa-circle"></i><span>My properties</span>
                    </a>
                </li>
                
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/deposit">
                <i class="fa-regular fa-wallet"></i>
                <span>Deposit</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed  "
               data-bs-target="#crm" data-bs-toggle="collapse" href="#">
                <i class="fa-regular fa-clock-rotate-left"></i><span>history</span>
                <i class="fa-regular fa-angle-down ms-auto bi-chevron-down"></i>
            </a>
            <ul id="crm" data-bs-parent="#sidebar-nav" class="nav-content collapse
                " >
                <li>
                    <a href="https://waiz.bugfinder.net/user/all-transaction-list" class="">
                        <i class="fa-regular fa-circle"></i><span>Transaction History</span>
                    </a>
                </li>
                <li>
                    <a href="/deposithis" class="">
                        <i class="fa-regular fa-circle"></i><span>Deposit History</span>
                    </a>
                </li>
                <li>
                    <a href="/transf_his" class="">
                        <i class="fa-regular fa-circle"></i><span>Transfer History</span>
                    </a>
                </li>
                <li>
                    <a href="/withdrawhis" class="">
                        <i class="fa-regular fa-circle"></i><span>Withdrawal History</span>
                    </a>
                </li>
                
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed " data-bs-target="#sales" data-bs-toggle="collapse" href="#">
                <i class="fa-regular fa-grid-2-plus"></i><span>More</span>
                <i class="fa-regular fa-angle-down ms-auto bi-chevron-down"></i>
            </a>
            <ul id="sales" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="https://waiz.bugfinder.net/user/settings" class="">
                        <i class="fa-light fa-gear"></i><span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="https://waiz.bugfinder.net/user/settings" class="">
                        <i class="fa-regular fa-circle"></i><span>Support Ticket</span>
                    </a>
                </li>
                <li>
                    <a href="https://waiz.bugfinder.net/user/earn" class="">
                        <i class="fa-regular fa-circle"></i><span>Refer & Earn</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</aside>

{% for message in messages %}
<div class="row" id="firebase-app" style="z-index: 10000;position: absolute;margin-top: 5rem;width: 100%;">
    <div v-if="user_foreground == '1' || user_background == '1'">
        <div class="alert alert-warning alert-dismissible justify-content-between flex-column gap-3 flex-sm-row"
             role="alert" v-if="notificationPermission == 'default' && !is_notification_skipped" v-cloak>
            <div class="d-flex align-items-center">
                <div class="icon-area"><i class="fa-light fa-triangle-exclamation"></i></div>
                <div class="text-area">
                    <div class="description">
                        {{message}}                            </div>
                </div>
            </div>
            <button class="cmn-btn text-nowrap" id="allow-notification">Allow me</button>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    @click.prevent="skipNotification"><i class="fa-regular fa-xmark"></i></button>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert"
         v-if="notificationPermission == 'denied' && !is_notification_skipped" v-cloak>
        <div class="icon-area"><i class="fa-light fa-triangle-exclamation"></i></div>
        <div class="text-area">
            <div class="description">
                Please allow your browser to get instant push notification. Allow it from notification setting                    </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                @click.prevent="skipNotification"><i class="fa-regular fa-xmark"></i></button>
    </div>
</div>
{% endfor %}
{% block content %}

{% endblock %}

<script>
    "use strict";
    var root = document.querySelector(':root');
    root.style.setProperty('--primary-color', '#085def');
    
</script>
     
<script src="{% static 'assets/themes/light/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'assets/themes/light/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/themes/light/js/select2.min.js' %}"></script>
<script src="{% static 'assets/themes/light/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/themes/light/js/dashboard.js' %}" defer></script>
<script src="{% static 'assets/themes/light/js/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/themes/light/js/flatpickr.js' %}"></script>

<!-- GLOBAL link -->
<script src="{% static 'assets/global/js/notiflix-aio-3.2.6.min.js' %}"></script>
<script src="{% static 'assets/global/js/pusher.min.js' %}"></script>
<script src="{% static 'assets/global/js/vue.min.js' %}"></script>
<script src="{% static 'assets/global/js/axios.min.js' %}"></script>
<script src="{% static 'assets/global/js/debounce_lodash@4.js' %}"></script>



    <script>
        $(document).ready(function () {
            $('.cmn-select2-image').select2({
                templateResult: formatState,
                templateSelection: formatState,
                dropdownParent: $("#formModal"),
            });
        });

        function formatState(state) {
            if (!state.id || !state.element || !state.element.getAttribute('data-img')) {
                return state.text;
            }
            const baseUrl = "https://waiz.bugfinder.net/assets/upload";
            const imagePath = state.element.getAttribute('data-img');
            const $state = $(
                '<span><img src="' + imagePath + '" class="img-flag" /> ' + state.text + '</span>'
            );
            return $state;
        }
    </script>

    <script>
        $('.showInfo').click(function () {
            const {amount, charge, trxid, trx_type, trx_date, remarks, note} = this.dataset;

            $('.amount').html(amount);
            $('.trxId').html('#' + trxid);
            $('.charge').html(charge);
            $('.trx_date').html(trx_date);
            $('.note').html(note);

            const iconClass = trx_type === '-' ? 'icon-sent' : 'icon-received';
            const icon = trx_type === '-' ? 'fa-arrow-up' : 'fa-arrow-down';

            $('.transaction-list .icon').attr('class', `icon ${iconClass}`);
            $('.transaction-list .icon i').attr('class', `fa-regular ${icon}`);
            $('.transaction-list .left-side span').html(remarks);

            $('#infoViewModal').modal('show');
        });

    </script>
    <script>
        $(document).ready(function () {

            const baseCurrSymbol = "$";
            const baseCurrency = "USD";
            if ($('#columnChart').length) {
                let options = {
                    theme: {
                        mode: $('.dark-theme').length ? 'dark' : 'light',
                    },
                    series: [{
                        name: 'Total Send',
                        data: [0,0,0,0,50.18,1758.81,107.53,0,1836.11]                    }, {
                        name: 'Total Transactions',
                        data: [0,0,0,0,305.18,5245.92,252.49,0,7625.22]                    }, {
                        name: 'Total Received',
                        data: [0,0,0,0,255,3487.11,144.96,0,5789.11]                    }],
                    chart: {
                        type: 'bar',
                        height: 350,
                        background: $('.dark-theme').length ? '#232327' : ''
                    },
                    colors: ['#00afb9', '#99b21f', '#6b9080'],
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep"],
                    },
                    yaxis: {},
                    fill: {
                        opacity: 1,
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return baseCurrSymbol + val;
                            }
                        }
                    }
                };
                var chart = new ApexCharts(document.querySelector("#columnChart"), options);
                chart.render();
            }

            let monthlyDeposits = {"Jan":0,"Feb":0,"Mar":0,"Apr":0,"May":70833.33,"Jun":967741.94,"Jul":100,"Aug":0,"Sep":258225.78670330014,"Oct":31237.71098901,"Nov":0,"Dec":0};

            function calculateMaxValue(data) {
                const maxValue = Math.max(...Object.values(data));
                const increment = 10000;
                return Math.ceil(maxValue / increment) * increment;
            }

            const maxYValue = calculateMaxValue(monthlyDeposits) +10000;

            if ($('#lineChart').length) {
                let options = {
                    theme: {
                        mode: $('.dark-theme').length ? 'dark' : 'light'
                    },
                    series: [{
                        name: "Deposit",
                        data: Object.values(monthlyDeposits).map(value => parseFloat(value).toFixed(2))
                    }],
                    chart: {
                        height: 350,
                        type: 'line',

                        background: $('.dark-theme').length ? '#232327' : '',
                        dropShadow: {
                            enabled: true,
                            color: '#000',
                            top: 18,
                            left: 7,
                            blur: 10,
                            opacity: 0.2
                        },
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false
                        }
                    },
                    colors: ['#99b21f'],
                    dataLabels: {
                        enabled: true,
                        formatter: function (val) {
                            return baseCurrSymbol + val;
                        }
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    title: {
                        text: 'Monthly Deposit History for Current Year',
                        align: 'left'
                    },
                    grid: {
                        borderColor: '#e7e7e7',
                        row: {
                            colors: [$('.dark-theme').length ? '#232327' : '#f3f3f3', 'transparent'],
                            opacity: 0.5
                        },
                    },
                    markers: {
                        size: 1
                    },
                    xaxis: {
                        categories: Object.keys(monthlyDeposits),
                        title: {
                            text: 'Month'
                        }
                    },
                    yaxis: {
                        min: 0,
                        max: maxYValue
                    },
                    legend: {
                        position: 'top',
                        horizontalAlign: 'right',
                        floating: true,
                        offsetY: -25,
                        offsetX: -5
                    }
                };

                let chart = new ApexCharts(document.querySelector("#lineChart"), options);
                chart.render();
            }

        })
    </script>
        <script type="module">
            import {
                initializeApp
            } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js' %}";
            import {
                getMessaging,
                getToken,
                onMessage
            } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-messaging.js' %}";

            const firebaseConfig = {
                apiKey: "AIzaSyCYv0NbhnqfBCbpJtzuaJtm3U7YSIg66rI",
                authDomain: "bugfinderadmin.firebaseapp.com",
                projectId: "bugfinderadmin",
                storageBucket: "bugfinderadmin.appspot.com",
                messagingSenderId: "1090565989163",
                appId: "1:1090565989163:web:051e1d575de5ac83d6db6e",
                measurementId: "G-K3DPMXF3MN"
            };

            const app = initializeApp(firebaseConfig);
            const messaging = getMessaging(app);
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('' + `/firebase-messaging-sw.js`, {
                    scope: './'
                }).then(function (registration) {
                    requestPermissionAndGenerateToken(registration);
                }).catch(function (error) {
                });
            } else {
            }

            onMessage(messaging, (payload) => {
                if (payload.data.foreground || parseInt(payload.data.foreground) == 1) {
                    const title = payload.notification.title;
                    const options = {
                        body: payload.notification.body,
                        icon: payload.notification.icon,
                    };
                    new Notification(title, options);
                }
            });

            function requestPermissionAndGenerateToken(registration) {
                document.addEventListener("click", function (event) {
                    if (event.target.id == 'allow-notification') {
                        Notification.requestPermission().then((permission) => {
                            if (permission === 'granted') {
                                getToken(messaging, {
                                    serviceWorkerRegistration: registration,
                                    vapidKey: "BHvxHfvJPNZrt_NEcu6_mEkZX1DNsGVbZh2cK4fWgHL20OomK_uPzf6z2EOZHkCatpUy7k5Met4iFSD78dLG1lk"
                                })
                                    .then((token) => {
                                        $.ajax({
                                            url: "https://waiz.bugfinder.net/user/save-token",
                                            method: "post",
                                            data: {
                                                token: token,
                                            },
                                            success: function (res) {
                                            }
                                        });
                                        window.newApp.notificationPermission = 'granted';
                                    });
                            } else {
                                window.newApp.notificationPermission = 'denied';
                            }
                        });
                    }
                });
            }
        </script>
        <script>
            window.newApp = new Vue({
                el: "#firebase-app",
                data: {
                    user_foreground: '',
                    user_background: '',
                    notificationPermission: Notification.permission,
                    is_notification_skipped: sessionStorage.getItem('is_notification_skipped') == '1'
                },
                mounted() {
                    sessionStorage.clear();
                    this.user_foreground = "1";
                    this.user_background = "1";
                },
                methods: {
                    skipNotification() {
                        sessionStorage.setItem('is_notification_skipped', '1')
                        this.is_notification_skipped = true;
                    }
                }
            });
        </script>
        <script>
        let pushNotificationArea = new Vue({
            el: "#pushNotificationArea",
            data: {
                items: [],
            },
            beforeMount() {
                this.getNotifications();
                this.pushNewItem();
            },
            methods: {
                getNotifications() {
                    let app = this;
                    axios.get("https://waiz.bugfinder.net/user/push-notification-show")
                        .then(function (res) {
                            app.items = res.data;
                        })
                },
                readAt(id, link) {
                    let app = this;
                    let url = "https://waiz.bugfinder.net/user/push-notification-readAt/0";
                    url = url.replace(/.$/, id);
                    axios.get(url)
                        .then(function (res) {
                            if (res.status) {
                                app.getNotifications();
                                if (link !== '#') {
                                    window.location.href = link
                                }
                            }
                        })
                },
                readAll() {
                    let app = this;
                    let url = "https://waiz.bugfinder.net/user/push.notification.readAll";
                    axios.get(url)
                        .then(function (res) {
                            if (res.status) {
                                app.items = [];
                            }
                        })
                },
                pushNewItem() {
                    let app = this;
                    Pusher.logToConsole = false;
                    let pusher = new Pusher("6ae04039ec41c4852415", {
                        encrypted: true,
                        cluster: "ap2"
                    });
                    let channel = pusher.subscribe('user-notification.' + "6814");
                    channel.bind('App\\Events\\UserNotification', function (data) {
                        app.items.unshift(data.message);
                    });
                    channel.bind('App\\Events\\UpdateUserNotification', function (data) {
                        app.getNotifications();
                    });
                }
            }
        });
    </script>


<div class="footer">
    © 2024 Fincapital Market. All rights reserved.
</div>


</body>
</html>
