{% extends 'user/base.html' %}
{% load static %}
{% block content %}
    <div class="dashboard-wrapper">
        <div class="breadcrumb-area">
            <h3 class="title">Dashboard</h3>
        </div>
       

        <div class="row g-4 g-xxl-5 align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-20 d-flex align-items-center justify-content-between gap-3">
                            <h4>My Wallets</h4>
                            <!-- <div class="dropdown">
                                <button class="action-btn-secondary" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa-regular fa-ellipsis"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" data-bs-target="#addWallet"
                                           data-bs-toggle="modal">Add New Wallet</a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                        <div class="col-12">
                            <div class="owl-carousel owl-theme card-carousel">
                                                    
                                                                    <div class="item">
                                        <a href="" class="box-card" style="width: 100%;">
                                            <div class="box-card-header">
                                                <div class="left-side">
                                                    <i class="fa-solid fa-wallet"></i>My Balance                                                </div>
                                                <div class="right-side">
                                                    <i class="fa-regular fa-wifi fa-rotate-90"></i>
                                                </div>
                                            </div>
                                            <div class="box-card-body">
                                                <p class="sub-title">Balance</p>
                                                <h2 class="title">{{x.amount}}
                                                    <span class="sub">{{x.currency}}</span>
                                                </h2>
                                            </div>
                                            <div class="box-card-body" style="display: flex;align-items: center;gap: 1rem;">
                                                <p class="sub-title">Wallet ID</p>
                                                <h5 class="title">{{x.id}}</h5>
                                            </div>
                                            <div class="box-card-footer">
                                                <p class="sub-title mt-20">
                                                    US Dollar
                                                </p>
                                                <img src="{% static 'assets/upload/country/ESVoyREUF5RTvrSqSqMn8LgPwLQIyK.avif' %}" alt="">
                                            </div>
                                        </a>
                                    </div>

                                
                            </div>
                        </div>
                                    </div>

            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-20 d-flex align-items-center justify-content-between gap-3">
                            <h4>Statistics</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="statistics-box">
                            <div class="statistics-box-header">
                                <p>Wallet Balance</p>
                                <div>
                                    <h6 class="mb-0 up"><i class="fa-solid fa-arrow-trend-up"></i></h6>
                                    <small>Default Wallet</small>
                                </div>
                            </div>

                            <div class="statistics-box-body">
                                <h5 class="title">${{x.amount}}
                                    <span class="sub">USD</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="statistics-box">
                            <div class="statistics-box-header">
                                <p>Send Money</p>
                                <div>
                                    <h6 class="mb-0 down"><i class="fa-solid fa-arrow-trend-up"></i></h6>
                                    <small>Last Month</small>
                                </div>
                            </div>
                            <div class="statistics-box-body">
                                <h5 class="title">${{th}}
                                    <span class="sub">USD</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="statistics-box">
                            <div class="statistics-box-header">
                                <p>Deposit</p>
                                <div>
                                    <h6 class="mb-0 up"><i class="fa-solid fa-arrow-trend-up"></i></h6>
                                    <small>Current Month</small>
                                </div>
                            </div>
                            <div class="statistics-box-body">
                                <h5 class="title">{{total_dep}}
                                    <span class="sub">USD</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="statistics-box">
                            <div class="statistics-box-header">
                                <p>Transactions</p>
                                <div>
                                    <h6 class="mb-0 up"><i class="fa-solid fa-arrow-trend-up"></i></h6>
                                    <small>Current Month</small>
                                </div>
                            </div>
                            <div class="statistics-box-body">
                                <h5 class="title">${{twd}}
                                    <span class="sub">USD</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-30">
            <div class="row g-4 g-xxl-5">
                <div class="col-lg-6">
                    <div class="mb-20 d-flex align-items-center justify-content-between gap-3">
                        <h4>Transaction</h4>
                    </div>
                    <div>
                        <canvas id="myChart"></canvas>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-20 d-flex align-items-center justify-content-between gap-3">
                        <h4>Views</h4>
                    </div>
                   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
    {
    "width": "100%",
    "height": "550",
    "symbolsGroups": [
      {
        "name": "Indices",
        "originalName": "Indices",
        "symbols": [
          {
            "name": "FOREXCOM:SPXUSD",
            "displayName": "S&P 500 Index"
          },
          {
            "name": "FOREXCOM:NSXUSD",
            "displayName": "US 100 Cash CFD"
          },
          {
            "name": "FOREXCOM:DJI",
            "displayName": "Dow Jones Industrial Average Index"
          },
          {
            "name": "INDEX:NKY",
            "displayName": "Japan 225"
          },
          {
            "name": "INDEX:DEU40",
            "displayName": "DAX Index"
          },
          {
            "name": "FOREXCOM:UKXGBP",
            "displayName": "FTSE 100 Index"
          }
        ]
      },
      {
        "name": "Futures",
        "originalName": "Futures",
        "symbols": [
          {
            "name": "CME_MINI:ES1!",
            "displayName": "S&P 500"
          },
          {
            "name": "CME:6E1!",
            "displayName": "Euro"
          },
          {
            "name": "COMEX:GC1!",
            "displayName": "Gold"
          },
          {
            "name": "NYMEX:CL1!",
            "displayName": "WTI Crude Oil"
          },
          {
            "name": "NYMEX:NG1!",
            "displayName": "Gas"
          },
          {
            "name": "CBOT:ZC1!",
            "displayName": "Corn"
          }
        ]
      },
      {
        "name": "Bonds",
        "originalName": "Bonds",
        "symbols": [
          {
            "name": "CBOT:ZB1!",
            "displayName": "T-Bond"
          },
          {
            "name": "CBOT:UB1!",
            "displayName": "Ultra T-Bond"
          },
          {
            "name": "EUREX:FGBL1!",
            "displayName": "Euro Bund"
          },
          {
            "name": "EUREX:FBTP1!",
            "displayName": "Euro BTP"
          },
          {
            "name": "EUREX:FGBM1!",
            "displayName": "Euro BOBL"
          }
        ]
      },
      {
        "name": "Forex",
        "originalName": "Forex",
        "symbols": [
          {
            "name": "FX:EURUSD",
            "displayName": "EUR to USD"
          },
          {
            "name": "FX:GBPUSD",
            "displayName": "GBP to USD"
          },
          {
            "name": "FX:USDJPY",
            "displayName": "USD to JPY"
          },
          {
            "name": "FX:USDCHF",
            "displayName": "USD to CHF"
          },
          {
            "name": "FX:AUDUSD",
            "displayName": "AUD to USD"
          },
          {
            "name": "FX:USDCAD",
            "displayName": "USD to CAD"
          }
        ]
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": false,
    "colorTheme": "light",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
                </div>
            </div>
        </div>

    

    </div>

   

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Deposit', 'Withdrawal', 'Transfer', 'Total Balance',],
          datasets: [{
            label: '# $',
            data: [{{total_dep}}, {{twd}}, {{th}}, {{x.amount}},],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
     



    {% endblock %}

