{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<br><br><br><br><br>

{% if x %}
<div class="container">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<script>
    // Prepare data arrays for labels and values
    const labels = [
       'Starting point','Low TRADE','Top Trade','Expert Trade', {% for trade in x %}
            '{{ trade.name }}'{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    
    const data = [
         0.01,100,10000,99999, {% for trade in x %}
          {{ trade.value }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    // Create the chart
    const ctx = document.getElementById('myChart').getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Trade Profit ($)',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% else %}
<div class="container">
    <p>you have No Trade</p>
    <a class="btn btn-info" href="/trade">Click to Trade</a>
</div>
{% endif %}


{% endblock %}