{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<style>
    .banner-area {
        padding-top: 220px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        background-image: linear-gradient(rgba(2, 26, 46, 0.6), rgba(2, 25, 44, 0.6)),
            url({% static 'assets/upload/AfFjRegC90gBbBDBI10qyOtOLVrGZw.avif' %});
        background-size: cover;
        background-position: 100% 75%;
    }
</style>
<main id="main header-upper header-fixed">

    <div class="banner-area">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="breadcrumb-area">
                        <h3>
                                                            Login                                                    </h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa-light fa-house"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                                                    Login                                                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for m in messages %}
    {{m}}
    {% endfor %}
    <section class="login-signup-page">
        <div class="container">
            <div class="row g-lg-5 justify-content-between align-items-center">
                <div class="col-xl-5 col-md-6 order-2 order-md-1">
                    <div class="login-signup-form">
                        <form action="" method="post" class="php-email-form" id="form">
                            {% csrf_token %}
                            <input type="hidden" name="_token" value="6UroOBws99u7PlyFPmRktBSPSmoNosUy9kpuY7Kt" autocomplete="off">                        <div class="login-signup-header">
                                <h4>Welcome back!</h4>
                                <div class="description">Hey Enter your details to get sign in to your account</div>
                            </div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control" value=""  placeholder="Email">
                                                                </div>
                                <div class="col-12">
                                    <div class="password-box">
                                        <input type="password" name="password" class="form-control password" value="" placeholder="Password">
                                        <i class="password-icon fa-regular fa-eye"></i>
                                    </div>
                                </div>
    
                                
                                
                                <div class="col-12 mt-4">
                                    <div class="form-check d-flex justify-content-between">
                                        <div class="check">
                                            <input class="form-check-input" type="checkbox" name="remember"
                                                   id="remember" >
    
                                            <label class="form-check-label" for="remember">
                                                Remember Me
                                            </label>
                                        </div>
                                        <div class="forgot highlight">
                                            <a class="btn btn-link" href="password/reset.html">
                                                Forgot Your Password?
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <button type="submit" class="btn cmn-btn mt-20 w-100" id="submitBtn">Log In</button>
    
                                                        <hr class="divider">
                            
                            
    
    
    
                            <div class="pt-20 text-center">
                                Don't have an account?                            <p class="mb-0 highlight"><a href="/register">Create a Account</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 order-1 order-md-2 d-none d-md-block">
                    <div class="login-signup-thums">
                        <img src="{% static 'assets/upload/contents/1kFWgU3yeYscLgIn903G3O1sKL1HWe.webp' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    
    
        </main>
{% endblock %}